<!DOCTYPE html>
<html>
  <head>
    <!-- Site made with Mobirise Website Builder v3.12.1, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v3.12.1, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
    <meta name="description" content="">

    <style>
      .form-signin
      {
          max-width: 330px;
          padding: 15px;
          margin: 0 auto;
      }
      .form-signin .form-signin-heading, .form-signin .checkbox
      {
          margin-bottom: 10px;
      }
      .form-signin .checkbox
      {
          font-weight: normal;
      }
      .form-signin .form-control
      {
          position: relative;
          font-size: 16px;
          height: auto;
          padding: 10px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
      }
      .form-signin .form-control:focus
      {
          z-index: 2;
      }
      .form-signin input[type="text"]
      {
          margin-bottom: -1px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
      }
      .form-signin input[type="password"]
      {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
      }
      .account-wall
      {
          margin-top: 20px;
          padding: 40px 0px 20px 0px;
          background-color: #f7f7f7;
          -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      }
      .login-title
      {
          color: #555;
          font-size: 18px;
          font-weight: 400;
          display: block;
      }
      .profile-img
      {
          width: 96px;
          height: 96px;
          margin: 0 auto 10px;
          display: block;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
      }
      .need-help
      {
          margin-top: 10px;
      }
      .new-account
      {
          display: block;
          margin-top: 10px;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>TALW -  Iniciar Sesión</title>
  </head>
  <body>
    <section class="mbr-section mbr-section-hero mbr-section-full" id="header1-3" style="background-color: rgb(41, 105, 176);">
        <div class="mbr-table-cell">
            <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-6 col-md-offset-3">
                      <div class="account-wall" style="border-radius: 20px">
                          <h1 class="mbr-section-title display-1 text-center" style="color: rgb(41, 105, 176); margin-top: 1%">Formulario de Registro<br></h1>
                          <form class="form-signin" action="<%= registro_path %>" method="post">
                              <input id="name" name="name" type="text" class="form-control" style="margin-bottom: 1%" placeholder="Nombre" required autofocus>
                              <input id="user" name="user" type="text" class="form-control" style="margin-bottom: 1%" placeholder="Usuario" required autofocus>
                              <input id="mail" name="mail" type="text" class="form-control" style="margin-bottom: 1%" placeholder="Email" required autofocus>
                              <input id="pass" name="pass" type="password" class="form-control" style="margin-bottom: 1%" placeholder="Contraseña" required>
                              <input id="check_pass" name="check_pass" type="password" class="form-control" style="margin-bottom: 1%" placeholder="Confirmar contraseña" required>
                              <input id="birth" name="birth" type="date" class="form-control" placeholder="Fecha de nacimiento" required autofocus>
                            <button class="btn btn-lg btn-primary btn-block" style="background-color: rgb(41, 105, 176)" type="submit">Continuar</button>
                          </form>
                      </div>
                      <a href="<%= root_path %>" class="text-center new-account" style="color: white;">Volver </a>
                  </div>
              </div>
          </div>
        </div>
    </section>
    <input name="animation" type="hidden">
  </body>
</html>